<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', path = '/css/index.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="navbar">
        <a class="active" href="#">Home</a>
        <a href="ocr.html">OCR</a>
        <a href="ner.html">NER</a>
        <a href="summerization.html">Summarization</a>
        <a href="contact.html">Contact</a>
    </div>

    <div class="input-container">
        <form action="/generate_wordcloud" method="post">
            <input type="text" id="word-input" name="text_input" placeholder="Enter text">
            <button onclick="generateWordCloud()">Generate WordCloud</button>
        </form>
    </div>
</body>
</html>